body {
  margin: 0;
  background: #141414;
  font-family: Arial, Helvetica, sans-serif;
  color: white;
}

/* NAVBAR */
.navbar {
  background: #000;
  padding: 20px;
  display: flex;
  align-items: center;
  gap: 25px;
  font-size: 18px;
}

.navbar a {
  color: #e5e5e5;
  text-decoration: none;
}

.navbar a:hover {
  color: white;
}

/* TITULOS */
h1, h2 {
  color: white;
  margin-left: 20px;
}

/* GRID TIPO NETFLIX */
.grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(260px, 1fr));
  gap: 20px;
  padding: 20px;
}

/* CARD TIPO NETFLIX */
.card {
  background: #1f1f1f;
  padding: 20px;
  border-radius: 10px;
  transition: 0.3s;
  cursor: pointer;
  border: 1px solid #2b2b2b;
}

.card:hover {
  transform: scale(1.05);
  background: #2a2a2a;
}

.button {
  background: #e50914;
  border: none;
  padding: 12px 20px;
  border-radius: 6px;
  margin-top: 10px;
  cursor: pointer;
  color: white;
}

.button:hover {
  background: #f6121d;
}
